{% extends "layout.html" %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">About the mobile App</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 app-screen">
                    <div class="thumbnail">
                        <img src="https://file.ac/G4prrQK6V3M/home.png" alt="Home">
                        <div class="caption">
                            <h3>Home</h3>
                            <p>Plain Android material navigation</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 app-screen">
                    <div class="thumbnail">
                        <img src="https://file.ac/G4prrQK6V3M/credit-transactions.png"
                             alt="image of a planet called Pegasi B">
                        <div class="caption">
                            <h3>Credit transactions</h3>
                            <p>Create and manage your credit and debit transactions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 app-screen">
                    <div class="thumbnail">
                        <img src="https://file.ac/G4prrQK6V3M/converse-chat.png"
                             alt="image of a planet called Pegasi B">
                        <div class="caption">
                            <h3>Chat</h3>
                            <p class="lead">Interactive banking</p>
                            <p class="subheader">Why type when you can talk</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 app-screen">
                    <div class="thumbnail">
                        <img src="https://file.ac/G4prrQK6V3M/voice-input.png" alt="image of a planet called Pegasi B">
                        <div class="caption">
                            <h3>Voice Input</h3>
                            <p>No more typing</p>
                            <p>Just click, talk and make transfers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 app-screen">
                    <div class="thumbnail">
                        <img src="https://file.ac/G4prrQK6V3M/user-budget.png" alt="image of a planet called Pegasi B">
                        <div class="caption">
                            <h3>Budget</h3>
                            <p>Monthly Budgeting</p>
                            <p>Why worry when someone can help you maintain your budget.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 app-screen">
                    <div class="thumbnail">
                        <img src="https://file.ac/G4prrQK6V3M/investments.png" alt="image of a planet called Pegasi B">
                        <div class="caption">
                            <h3>Investments</h3>
                            <p>List of investments</p>
                            <p>Saving smartly is also an essential part of earning</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 padding-centre"><a href="https://file.ac/G4prrQK6V3M/com.app.dextrous.barbara.apk"
                                         class="btn btn-success btn-lg">Download App</a></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}
