{% extends "layout.html" %}
{% block body %}
<div class="row column">
    <p class="lead">About the mobile app</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
    <div class="column">
        <div class="callout">
            <p>Home</p>
            <p><img src="https://file.ac/1C5FQWfKieY/home.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Home</p>
            <p class="subheader">One app for two solutions</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Routes</p>
            <p><img src="https://file.ac/1C5FQWfKieY/routes.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">View Routes</p>
            <p class="subheader">View existing routes and stops</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Users</p>
            <p><img src="https://file.ac/1C5FQWfKieY/users.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">View Users</p>
            <p class="subheader">View existing users</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>BoardMe</p>
            <p><img src="https://file.ac/1C5FQWfKieY/boardme.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Boarding a bus</p>
            <p class="subheader"></p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>BoardWait</p>
            <p><img src="https://file.ac/1C5FQWfKieY/boardwait.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Check wait time to board a bus</p>
            <p class="subheader">No more long waiting and worrying about whether you will reach on time</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Pay</p>
            <p><img src="https://file.ac/1C5FQWfKieY/pay.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Pay from Wallet</p>
            <p class="subheader">One click pay to board a bus. No hassle to pay with exact change</p>
        </div>
    </div>
</div>
<div class="row column">
    <a class="button expanded" href="https://file.ac/1C5FQWfKieY/com.dextrous.hack.boardme.apk">Download App</a>
</div>
{% endblock %}