{% extends "layout.html" %}
{% block body %}
<div class="row column">
    <p class="lead">About the mobile app</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
    <div class="column">
        <div class="callout">
            <p>Home</p>
            <p><img src="https://file.ac/MCgXpjuxVmY/home.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Home</p>
            <p class="subheader">The smart way to bank</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Transactions</p>
            <p><img src="https://file.ac/MCgXpjuxVmY/credit-transactions.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Credit transactions</p>
            <p class="subheader">Create and manage your credit and debit transactions</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Chat</p>
            <p><img src="https://file.ac/MCgXpjuxVmY/converse-chat.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Interactive banking</p>
            <p class="subheader">Why type when you can talk</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Voice Input</p>
            <p><img src="https://file.ac/MCgXpjuxVmY/voice-input.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">No more typing</p>
            <p class="subheader">Just click, talk and make transfers</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Budget</p>
            <p><img src="https://file.ac/MCgXpjuxVmY/user-budget.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">Monthly Budgeting</p>
            <p class="subheader">Why worry when someone can help you maintain your budget.</p>
        </div>
    </div>
    <div class="column">
        <div class="callout">
            <p>Investments</p>
            <p><img src="https://file.ac/MCgXpjuxVmY/investments.png" alt="image of a planet called Pegasi B"></p>
            <p class="lead">List of investments</p>
            <p class="subheader">Saving smartly is also an essential part of earning</p>
        </div>
    </div>
</div>
<div class="row column">
    <a class="button expanded" href="https://file.ac/MCgXpjuxVmY/com.app.dextrous.barbara.apk">Download App</a>
</div>
{% endblock %}