{% extends "layout.html" %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Chat page</h3>
        </div>
        <div>
            <div class="panel-body">
                <form
                        {% if command_response.is_transaction_request and not command_response.is_read_request %}
                            action="/authenticate-transfer"
                        {% else %}
                            action=""
                        {% endif %}
                            method="post" enctype="multipart/form-data" class="form-horizontal">
                    <input type="hidden" name="startCommandId"
                            {% if current_session_command_start %}
                           value="{{ current_session_command_start }}"
                            {% else %}
                           value=""
                            {% endif %}
                    />
                    {% for command in command_history %}
                        {% if command.input_command %}
                            <div class="container">
                                <div class="meta">
                                    <img src=""
                                         class="avatar" class="chat-owner">
                                </div><!-- div meta -->
                                <div class="chat-content-mine chat-content">
                                    <p> {{ command.input_command }}</p>
                                </div><!-- div content-->
                            </div><!-- div container -->

                        {% endif %}

                        {% if command.response_text %}
                            <div class="container">
                                <div class="meta">
                                    <img src=""
                                         class="avatar">
                                </div><!-- div meta -->
                                <div class="chat-content">
                                    <p>{{ command.response_text }}</p>
                                    {% if command.scheduled_response_text %}
                                        {{ command.scheduled_response_text }}
                                    {% endif %}
                                </div><!-- div content-->
                            </div><!-- div container -->
                        {% endif %}

                    {% endfor %}

                    <div class="container row-fluid">
                        <div class="new-chat-content form-group">
                            <div class="new-chat-text-container">
                                <input type="text" name="command" class="form-control"
                                        {% if command_response.is_transaction_request and not command_response.is_read_request %}
                                       disabled="disabled"
                                        {% endif %}
                                       placeholder="command" value="{{ request.form.command }}"
                                       required>
                                {% if command_response.is_transaction_request and not command_response.is_read_request %}
                                    <input name="isCreditAccount" type="hidden" placeholder="command"
                                           value="{{ command_response.is_credit_account }}"
                                           required/>
                                    <input name="referredUser" type="hidden" placeholder="command"
                                           value="{{ command_response.referred_user }}"
                                           required/>
                                    <input name="referredAmount" type="hidden" placeholder="command"
                                           value="{{ command_response.referred_amount }}"
                                           required/>
                                    <input type="file" name="file"/>
                                    <button type="submit" class="button"> GO!</button>
                                {% endif %}
                            </div>
                            <div class="new-chat-button-container text-right">
                                <button class="btn btn-primary" type="submit">Send
                                    <i class="glyphicon glyphicon-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('home') }}" class="btn btn-default">Back to home</a>
                </form>
            </div><!-- div panel body-->
        </div><!-- div panel -->
{% endblock %}