{% extends "layout.html" %}
{% block body %}
    <form
            {% if command_response.is_transaction_request and not command_response.is_read_request%}
                action="/authenticate-transfer"
            {% else %}
                action=""
            {% endif %}

                method="post" enctype="multipart/form-data" class="form-horizontal">
        <h2>Login</h2>
        {% if error %}
            <div class="large-12 columns">
                <div class="alert callout">
                    <p><strong>Error:</strong> {{ error }}</p>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="large-4 medium-4 columns">
                <label>Command</label>
                <input type="text" name="command" class="input-xlarge"
                        {% if command_response.is_transaction_request and not command_response.is_read_request%}
                       disabled="disabled"
                        {% endif %}
                       placeholder="command" value="{{ request.form.command }}"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="large-4 medium-4 columns">
                <label>Result</label>
                <div>
                    {% if command_response.response_text %}
                        {{ command_response.response_text }}
                    {% endif %}

                    {% if command_response.scheduled_response_text %}
                        {{ command_response.scheduled_response_text }}
                    {% endif %}
                    {% if command_response.is_transaction_request and not command_response.is_read_request%}
                        <input name="isCreditAccount" type="hidden" placeholder="command"
                               value="{{ command_response.is_credit_account }}"
                               required/>
                        <input name="referredUser" type="hidden" placeholder="command"
                               value="{{ command_response.referred_user }}"
                               required/>
                        <input name="referredAmount" type="hidden" placeholder="command"
                               value="{{ command_response.referred_amount }}"
                               required/>
                        <input type="file" name="file"/>
                        <button type="submit" class="button"> GO!</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-4 medium-4 columns">
                <button type="submit" class="button"
                        {% if command_response.is_transaction_request and not command_response.is_read_request %}
                        disabled="disabled"
                        {% endif %}
                >Signin
                </button>
                <a href="{{ url_for('home') }}">Back to home</a>
            </div>
        </div>
    </form>
{% endblock %}