<!doctype html>

<title>Board Me Application</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta class="foundation-mq-small">
<meta class="foundation-mq-small-only">
<meta class="foundation-mq-medium">
<meta class="foundation-mq-medium-only">
<meta class="foundation-mq-large">
<meta class="foundation-mq-large-only">
<meta class="foundation-mq-xlarge">
<meta class="foundation-mq-xlarge-only">
<meta class="foundation-mq-xxlarge">
<meta class="foundation-data-attribute-namespace">
<link href="../static/vendor/css/foundation.6.2.1.min.css" rel="stylesheet">
<link href="../static/src/css/main.css" rel="stylesheet">

<script src="../static/vendor/js/jquery-2.1.4.min.js"></script>
<script src="../static/vendor/js/foundation.6.2.1.min.js"></script>
<script src="../static/vendor/js/what-input.js"></script>

<div>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">DextrousInc</li>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/routes">Routes</a></li>
            {% if session['user'] %}
            <li><a href="/board-wait">Board Wait</a></li>
            <li><a href="/board-me">Board</a></li>
            <li><a href="/my-board">My Board</a></li>
            {% endif %}
            <li><a href="/about-app"><i class="foundicon-location"></i>App</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
        {% if session['user'] %}
            <li><a>Welcome {{ session['user'].fullName }}</a></li>
        {% endif %}
            <li>
                <a href="#">Actions</a>
                <ul class="menu vertical">
                    {% if session['user'] %}
                        <li><a href="/my-profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/login">Sign in</a></li>
                        <li><a href="/login">Sign up</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
      </div>
    </div>
</div>
<div class="row column">
<hr>
</div>
<div class="row main">
    <div class="large-12 columns">
        {%- for category, message in get_flashed_messages(with_categories=true) %}
            <p class="flask {{ category }}-flash">{{ "Error: " if category == 'error' }}{{ message }}</p>
        {%- endfor %}
        {% block body %}{% endblock %}
    </div>
</div>
<div class="footer-bottom">
    <div class="row">
        <div class="medium-4 medium-push-8 columns">
            <ul class="home-social">
                <li><a href="http://www.twitter.com/M_Rajagopal" class="twitter"></a></li>
                <li><a href="http://www.facebook.com/rajagopa.atech" class="facebook"></a></li>
                <li><a href="mailto:rajagopal.a.dinesh.28@gmail.com" class="mail"></a></li>
            </ul>
        </div>
        <div class="medium-8 medium-pull-4 columns">
            <a href="http://www.zurb.com" class="logo regular"></a>
            <ul class="links">
                <li><a href="http://bookworms-dextrous.rhcloud.com/#/bookworm/about">About author</a></li>
            </ul>
            <p class="copyright">© 2016 Dextrous, Inc. All rights reserved.</p>
        </div>
    </div>
</div>
<script src="../static/src/js/app.js"></script>