{% extends "layout.html" %}
{% block body %}
     <h2>User Profile</h2>
    {% if user %}
        <div class="row">
            <div class="small-4 columns">
                <h4>Full Name</h4>
            </div>
            <div class="medium-6 large-8 columns">
                {{ user.first_name }} {{ user.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <h4>Joined: </h4>
            </div>
            <div class="medium-6 large-8 columns">{{ user.created_ts }}</div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <h4>username: </h4></div>
            <div class="medium-6 large-8 columns">{{ user.username }}</div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <h4>Wallet: </h4></div>
            <div class="medium-6 large-8 columns">{{ user.wallet }} {{ user.currency_type }}</div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <h4>Credit: </h4></div>
            <div class="medium-6 large-8 columns">{{ user.credit }} {{ user.currency_type }}</div>
        </div>
        <hr/>
        <h3> Preferences</h3>
        <div class="row">
            <div class="small-4 columns">
                <h4>Nick name: </h4></div>
            <div class="medium-6 large-8 columns">{{user.preferences.nick_name}}</div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <h4>Budget: </h4></div>
            <div class="medium-6 large-8 columns">{{user.preferences.budget}}</div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <h4>Security Question: </h4></div>
            <div class="medium-6 large-8 columns">{{user.preferences.security_question}}</div>
        </div>
    {% endif %}
{% endblock %}