{% extends "layout.html" %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Your Transaction History</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    {% if user_transactions %}

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="20%">From</th>
                                <th width="20%">To</th>
                                <th width="20%">Desc</th>
                                <th width="20%">Amount</th>
                                <th width="20%">Transferred On</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in user_transactions %}
                                <tr>
                                    <td>{{ transaction.from_user.full_name() }}</td>
                                    <td>{{ transaction.to_user.full_name() }}</td>
                                    <td>{{ transaction.description }}</td>
                                    <td>{{ transaction.amount }}</td>
                                    <td>{{ transaction.created_ts }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h2>No Transaction to display</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}